@using WebApplication1.Models;
@model Employee
@{string action = ViewBag.Action; }
@using (Html.BeginForm(action, "Employee", FormMethod.Post))
{ 
    <table>
        <tr>
            @Html.HiddenFor(p => p.Id)
            <td>@Html.LabelFor(p => p.LastName)</td>
            <td>@Html.TextBoxFor(p => p.LastName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.FirstName)</td>
            <td>@Html.TextBoxFor(p => p.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Age)</td>
            <td>@Html.TextBoxFor(p => p.Age)</td>
        </tr>
    </table>
    <button>Submit</button>
}